body {
    font-family: sans-serif;
    background-image: radial-gradient(circle, #641d41, #000000);
    background-repeat: no-repeat;
    margin: 0;
    color: #eee;
    height: 100vh;
    display: grid;
    place-items: center;
}

img {
    max-width: 80%;
    border-radius: 50%;
}

.card {
    background-color: rgb(56, 7, 34);
    width: 80%;
    height: 450px;
    display: flex;
    margin: 2em auto;
}

.card__left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 3, 11);
}

.card__right {
    width: 80%;
    padding: 0 1rem;
}

.card__title {
    text-transform: uppercase;
    margin: 1rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__names {
    display: flex;
    justify-content: space-between;
}

.form__names input {
    width: 100%;
}

.form__label {
    margin-bottom: .5rem;
    font-size: .8rem;
}

.form__input,
.form__textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #eee;
    color:#fff;
}

.form__textarea {
    resize: none;
    border: 1px solid #eee;
    flex-basis: 100px;
}

.form__submit {
    width: 30%;
    background: rgb(63, 2, 12);
    border: none;
    padding: .8rem;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    align-self: center;
    cursor: pointer;
}